    <div class="blogs xoxoxo">
      <div class="container">
        
        <div class="content">
          
          <div id="post-73" class="post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-css category-development category-html category-uncategorized">
            <h1 class="entry-title">Background Blend Mode = Photoshop in your browser.</h1>
            <div class="entry-meta">
              <p>
                Posted By
                <a href="../author/dunnylunny/index.html" title="Posts by Danny Paton" rel="author">Danny Paton</a>        On
                Tue Jun 09        (9:01 pm)
              </p>
              <!-- <span class="meta-prep meta-prep-author">Posted on</span> <a href="http://dannypaton.com/background-blend-mode/" title="9:01 pm" rel="bookmark"><span class="entry-date">June 9, 2015</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="../author/dunnylunny/index.html" title="View all posts by Danny Paton">Danny Paton</a></span> -->
              </div><!-- .entry-meta -->
              <div class="entry-content">
                <h3 class="graf--h3">A CSS property that <em class="markup--em markup--h4-em">everyone</em> should know about.</h3>
                <p>Not every blend mode has been translated from PhotoShop into CSS: but there are a few main ones that we can use including <code class=" language-markup">multiply</code>, <code class=" language-markup">screen</code>, <code class=" language-markup">overlay</code>, <code class=" language-markup">darken</code>,<code class=" language-markup">lighten</code>, <code class=" language-markup">color-dodge</code>, <code class=" language-markup">color-burn</code>, <code class=" language-markup">hard-light</code>,<code class=" language-markup">soft-light</code>, <code class=" language-markup">difference</code> and <code class=" language-markup">exclusion</code>, The first three <code class=" language-markup">multiply</code>, <code class=" language-markup">screen</code>, <code class=" language-markup">overlay</code>, are the most effective and have the largest results.</p>
                <p><strong>Multiply Mode<br />
                  </strong><br />
                It ignores white and makes things darker. If you’re old enough, think of the effect of sandwiching two 35mm slides together and trying to look through the joined result. Light moves easily through overlapped areas that are clear or bright, but darktones reinforce each other.</p>
                <p>As an introduction, let’s make a quick HTML build up. In HTML the code would be:</p>
                <div>
                  <pre class="graf--pre"><span style="font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 1.5;">&lt;div class="rapper"&gt;
                     &lt;div class="image-1"&gt;&lt;/div&gt;
                     &lt;div class="image-2"&gt;&lt;/div&gt;
                     &lt;div class="image-3"&gt;&lt;/div&gt;
                  &lt;/div&gt;</span></pre>
                  <p>Now lets add some CSS.</p>
                  <pre class=" language-css"><span style="font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 1.5;">.image-1 {
                     background-color: rebeccapurple;
                    }
                    .image-2 {
                     background-image: url(http://41.media.tumblr.com/ccc2511b5cf920591b1fa00ce19c6e41/tumblr_nod41bzpqj1st5lhmo4_1280.jpg);
                    }
                    .image-3 {
                     background-image: url(http://41.media.tumblr.com/ccc2511b5cf920591b1fa00ce19c6e41/tumblr_nod41bzpqj1st5lhmo4_1280.jpg);
                     background-color: rebeccapurple;
                     background-blend-mode: multiply;
                    }
                    .image-1, .image-2, .image-3 {
                     float: left;
                     width: 400px;
                     height: 400px;
                     background-size: cover;
                    }
                    .rapper {
                     width: 100%;
                    }
                  </span></pre>
                </div>
                <p>Our result looks like this!</p>
                <p><a href="../wp-content/uploads/2015/06/multiply.png"><img class="alignleft size-large wp-image-90" src="../wp-content/uploads/2015/06/multiply-1024x339.png" alt="multiply" width="1024" height="339" srcset="http://dannypaton.com/wp-content/uploads/2015/06/multiply-300x99.png 300w, http://dannypaton.com/wp-content/uploads/2015/06/multiply-1024x339.png 1024w, http://dannypaton.com/wp-content/uploads/2015/06/multiply.png 1194w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
                <p>Pretty cool stuff.</p>
                <p><strong>Overlay Mode<br />
                  </strong><br />
                A balance between screen and multiply: it ignores mid-tones, making the blended result lighter and darker at the same time. In other words, it increases contrast.</p>
                <p>Now lets replace our old CSS with the following CSS:</p>
                <pre class=" language-css"><span style="font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 1.5;">.image-1 {
                  background: black;
                  background-image: url(images/d.png);
                  background-size: 16px 16px;
                  }
                  .image-2 {
                  background-image: url(http://36.media.tumblr.com/c5d426af46a281611f286a9accef83ca/tumblr_nndj4wwY821st5lhmo1_1280.jpg);
                  background-size: cover;
                  }
                  .image-3 {
                  background-image:
                  url(images/d.png),
                  url(http://36.media.tumblr.com/c5d426af46a281611f286a9accef83ca/tumblr_nndj4wwY821st5lhmo1_1280.jpg);
                  background-blend-mode: overlay;
                  }
                  .image-1, .image-2, .image-3 {
                  float: left;
                  width: 400px;
                  height: 400px;
                  background-size: cover;
                  }
                  .rapper {
                  width: 100%;
                  }
                </span></pre>
                <p>Our result looks like this!</p>
                <p><a href="../wp-content/uploads/2015/06/overlay.png"><img class="alignleft size-large wp-image-93" src="../wp-content/uploads/2015/06/overlay-1024x339.png" alt="overlay" width="1024" height="339" srcset="http://dannypaton.com/wp-content/uploads/2015/06/overlay-300x99.png 300w, http://dannypaton.com/wp-content/uploads/2015/06/overlay-1024x339.png 1024w, http://dannypaton.com/wp-content/uploads/2015/06/overlay.png 1191w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
                <p>Even cooler.</p>
                <p>Now for the cream of the crop.</p>
                <p><strong>Screen Mode<br />
                  </strong><br />
                It ignores black, making things lighter. Imagine two projectors splashing images onto the same screen. The combined light pattern can’t make the result “more black”, and lighter tones will appear washed out.</p>
                <p>Add some new HTML code:</p>
                <pre class=" language-css"><span style="font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 1.5;">&lt;header&gt;&lt;h1&gt;Wisconsin Farmland&lt;/h1&gt;&lt;/header&gt;</span></pre>
                <p>Then lets replace our old CSS with the following CSS:</p>
                <pre class=" language-css"><span style="font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; line-height: 1.5;">
                  @import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900);
                  header {
                    padding: 120px 50px 170px;
                    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wisconsin-farmland-3.jpg);
                    background-size: cover;
                  }
                  header h1 {
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-size: 140px;
                    color: crimson;
                    mix-blend-mode: overlay;
                    padding: 0;
                    margin: 0;
                    line-height: 0.5;
                  }
                </span></pre>
                <p>Our result looks like this!<br />
                  <a href="../wp-content/uploads/2015/06/overlayy.png"><img class="alignleft size-large wp-image-103" src="../wp-content/uploads/2015/06/overlayy-1024x340.png" alt="overlayy" width="1024" height="340" srcset="http://dannypaton.com/wp-content/uploads/2015/06/overlayy-300x100.png 300w, http://dannypaton.com/wp-content/uploads/2015/06/overlayy-1024x340.png 1024w, http://dannypaton.com/wp-content/uploads/2015/06/overlayy.png 1280w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
                  <p>These are a few simple examples of background-blend-mode. Go replace the ones we used with the others in the list and share your results!</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  </div><!-- .entry-content -->
      </div>
      </div> <!-- /.container -->
      </div> <!-- /.main -->
      <script>
      /* Google Analytics! */
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62236843-1', 'auto');
      ga('send', 'pageview');
      </script>
    </body>
  </html>